body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.tush1 {
    color: orange;
}


.flexible_container {
    display: flex;
    margin-bottom: 150px;
}

.rafa1 {
    width: 50%;
    padding-right: 2%;
}

.rafa2 img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 3px;
    border-radius: 2px;
    color: aliceblue;
    font-weight: 500;
}

.tush2 {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.rafa4 {
    width: 50%;
    padding-right: 2%;
}

.rafa3 img {
    width: 70%;
}

.link-button1 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 3px;
    border-radius: 2px;
    color: aliceblue;
    font-weight: 500;
}

.expriences-item {
    width: 40%;
    padding-right: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
}

.expriences-area {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#border1 {
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow);
    border-image-slice: 1;
}

#border2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}