body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.tush1 {
    color: orange;
}


section {
    display: flex;
}

.rafa1 {
    width: 50%;
    padding-right: 2%;
}

.rafa2 img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
}

.tush2 {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}